.App {
  text-align: center;
}
.Header {
  color: #050736;
  text-shadow: 3px 3px 10px #fff;
  font-size:  50px;
  font-weight: bold;
  font-style: oblique;
   font-family: "Lumanosimo";
   display: inline-block;
   border: 10px solid rgb(27, 62, 23);
   border-radius: 10px;
   padding: 20px;
   margin: 20px;
}


/* write your parent styles in here for your App.js */
